<h1>Sign Up Form</h1>

<% if @user.errors.any? %>
  <h1>Login error</h1>
  <ol>
  <% @user.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
  </ol>
<% end %>

<%= render partial: "form" %>