<div class="row">
  <div class="col-md-2" style="padding-top: 10px; overflow-y: scroll;">
      <div class="button-group">
        <% if @user.fav_blogs.any? %>
          <% @user.fav_blogs.each do |blog| %>          
            <button class="button shown blog-button" data-id=<%= blog %>><%= @blogs.find(blog).name %></button>          
        <% end %>
      <% end %>
      </div>
  </div>
  <div class="menu-slider anim classless-div"></div>
  <div class="anim col-md-10"><div id="map-canvas"></div></div>
</div>
